#map {
  height: calc(100vh - 59px) !important;
}

.mapboxgl-canvas {
  height: 100% !important;
}

#stops_input {
  position: fixed;
  top: 70px;
  z-index: 1;

}

.btn-submit {
  height: 38px !important;
}

.stop_address {
  flex-grow: 1;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: 'Open Sans', sans-serif;
}

.truck {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #2F5174;
  pointer-events: none;
}

.stop {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #FAB229;
}

.info-window {
  h2 {
    font-size: 16px;
  }
  img {
    width: 40px;
  }
}

#trip-infos {
  width: 160px;
  position: fixed;
  bottom: 32px;
  left: 16px;
  z-index: 1;
}

.trip-infos-profile {
  border-radius: 3px 3px 0 0;
  border: 2px solid #2F5174;
  color: #B9C5D2;
}

.trip-infos-profile span {
  cursor: pointer;
}

.trip-infos-profile span.active {
  color: #2F5174;
}

.trip-infos-card {
  background-color: #2F5174;
  border-radius: 0 0 3px 3px;
  text-align: center;
}

.trip-infos-individual {
  color: white;
  width: 80px;
  h3 {
    font-size: 18px;
  }
  h4{
    font-size: 12px;
    color: #B9C5D2;
  }
}

#trip-save {
  position: fixed;
  bottom: 32px;
  right: 16px;
  z-index: 1;
}
