.navbar-lewagon {
  justify-content: space-between;
  background: #2F5174;
  color: white
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler-icon {
  background-image: image_url('burger.png') !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white !important;
}
